# Basic Chatbot-2 DB setup

This is a Database Setup for Chatbot-2. 

Please note after working with the Chatbot-2, Uncomment the last cell to delete table and commit and then comment it back again.

Import Library

In [1]:
import sqlite3 # Import sqlite3 for DB

Establish a connection with a Database

In [2]:
conn = sqlite3.connect('test.db') # Connecting with test database

Create a Table Company with below columns

ID, NAME, ADDRESS

In [3]:
conn.execute('''CREATE TABLE COMPANY
         (ID CHAR(10) PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         ADDRESS        CHAR(50));''') # Executing a CREATE TABLE statement to create a Table with above description

INSERT FEW VALUES INTO THE TABLE TO WORK

In [4]:
conn.execute("INSERT INTO COMPANY (ID,NAME,ADDRESS) \
      VALUES ('c100', 'Paul','California' )"); # Add row

In [5]:
conn.execute("INSERT INTO COMPANY (ID,NAME,ADDRESS) \
      VALUES ('c101', 'Josh','New York' )"); # Add row

In [6]:
conn.execute("INSERT INTO COMPANY (ID,NAME,ADDRESS) \
      VALUES ('c102', 'Rick','Chicago' )"); # Add row

In [7]:
conn.execute("INSERT INTO COMPANY (ID,NAME,ADDRESS) \
      VALUES ('c103', 'Ben','Texas' )"); # Add row

In [8]:
conn.execute("INSERT INTO COMPANY (ID,NAME,ADDRESS) \
      VALUES ('c104', 'Adam','Ohio' )"); # Add row

Display the content of table

In [9]:
print("ID    \t Name \t Address \n")
cursor = conn.execute("SELECT id, name, address from COMPANY") # Executing a Select statement to get all the row and respective column values
for row in cursor: # Iterate through selected row
    print(row[0]   + "\t"  + row[1]  +  "\t" + row[2] +  "\n") # Print Column values

ID    	 Name 	 Address

c100	Paul	California

c101	Josh	New York

c102	Rick	Chicago

c103	Ben	Texas

c104	Adam	Ohio

Commit the changes to make sure the Rows added can be used in another session

In [10]:
conn.commit() # Commit the changes

After Finishing with ChatBot-2,kindly uncomment this and run the below cell once to delete, commit changes and close the current session. Again comment after using!

In [12]:
"""
cursor = conn.cursor() # Create Cursor
cursor.execute("DROP TABLE COMPANY") # Drop the table
conn.commit() # Commit the change
conn.close() # Close the connection to db.

"""